[user]
	name = Gokul Soumya
	email = gokulps15@gmail.com

[color]
	ui = auto
[init]
	defaultBranch = master
[alias]
	s = stash
	sl = stash list
	sp = stash push
	so = stash pop
	ll = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=relative
[commit]
	verbose = true
[rerere]
	enabled = true
[safe]
	directory = /opt/flutter
