[user]
	name = Gokul Soumya
	email = gokulps15@gmail.com

[color]
	ui = auto
[init]
	defaultBranch = master
[alias]
	s = stash
	sl = stash list
	sp = stash push
	so = stash pop
	ll = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=relative
[commit]
	verbose = true
	gpgSign = false
[rerere]
	enabled = true
[safe]
	directory = /opt/flutter
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
	recurseSubmodules = check
[pull]
	rebase = false
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
[rebase]
	updateRefs = true
