#nav-bar {
  /* customize this value. */
  --navbar-margin: -40px;

  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;
  transition: all 0.1s linear !important;
  opacity: 0;
  /* background-color: rgba(0,0,0,1) !important; */
}

/* TODO: Force show bar when in customize mode */

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
  margin-top: 0;
  margin-bottom: var(--navbar-margin);
  z-index: 100;
  opacity: 1;
}

.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: none !important
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: inline-flex !important
}